
ErrorDocument 400 /errors/general.html?error=400
ErrorDocument 403 /errors/403.html
ErrorDocument 401 /errors/401.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/general.html?error=500
ErrorDocument 502 /errors/general.html?error=502
ErrorDocument 503 /errors/general.html?error=503
ErrorDocument 504 /errors/general.html?error=504

Options -Indexes
