@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";


@plugin "daisyui/theme" {
  name: "personal";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(31.2% 0.030 277.508);
  --color-base-200: oklch(27.8% 0.019 277.508);
  --color-base-300: oklch(26% 0.010 277.508);
  --color-base-content: oklch(97.747% 0.007 106.545);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(15.092% 0.036 346.812);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(14.84% 0.029 301.883);
  --color-accent: oklch(83.392% 0.124 66.558);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(88.263% 0.093 212.846);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(95.533% 0.134 112.757);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

img.pixels {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.meta-list li + li::before {
  content: "|";
  padding-right: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
  padding-left: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
}

.no-meta-list li + li::before {
  content: "";
  padding-right: 0;
  padding-left: 0;
}

/** Markdown editor */
.carta-theme__kruthers {
  --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
  &.carta-editor {
    @apply bg-base-100 rounded-field border overflow-clip;
    border: var(--border) solid var(--input-color);

    &:focus-within {
      @apply outline-2 outline-offset-2;
    }

    .carta-wrapper {
      padding: 1rem;
      flex-grow: 1;
    }

    .carta-font-code {
      font-family: 'Fira Code', monospace;
      caret-color: white;
      font-size: 1.1rem;
    }

    .carta-toolbar {
      @apply rounded-t bg-base-200;
      height: 2.5rem;

      .carta-icon {
        @apply btn p-0 h-8 w-8 btn-ghost btn-accent;
      }
    }

    .carta-toolbar-left {
      /*@apply pl-2;*/

      & > * {
        @apply hover:text-base-content relative inline-flex cursor-pointer appearance-none flex-wrap items-center justify-center text-center select-none;
        @apply ml-4 mr-4 px-3 text-base-content/50;
        font-size: 0.95rem;
      }

      button {
        height: 100%;
      }

      .carta-active {
        @apply border-b-2 border-base-content text-base-content;
      }
    }

    .carta-toolbar-right {
      @apply pr-3;
    }

    .carta-input-wrapper,
    .carta-renderer {
      @apply min-h-32 max-h-96;
      overflow: auto;
    }

    .carta-renderer > * {
      @apply prose max-w-none;
    }
  }
}

/*html.dark .carta-theme__kruthers .shiki,*/
/*html.dark .carta-theme__kruthers .shiki span {*/
/*  color: var(--color-base-content) !important;*/
/*}*/
